.left-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px dashed black;
  width: 25%;
  padding: 10px;
  overflow-y: scroll;
}

.right-pane {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 10px;
  overflow-y: auto;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}
.links > * {
  margin-left: 5px;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}
.index > * {
  margin-left: 5px;
}

.abstract {
  text-align: end;
  margin-bottom: 10px;
}

.xkcd {
  display: flex;
  justify-content: flex-end;
  border: 2px solid black;
  padding: 10px;
}

a[href=""] {
  color: red; 
  pointer-events: none;
  cursor: not-allowed;
}

th, td {
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}

table th:nth-child(1),
table td:nth-child(1) {
   white-space: nowrap;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  width: 100vw;
  height: 98vh;
  font-size: x-large;
  font-family: system-ui;
}


@media (orientation: portrait) {
  .left-pane {
    width: 98%;
    height: auto;
    align-items: center;
    border-right: none;
    border-bottom: 1px dashed black;
    overflow-y: scroll;
  } 
  .right-pane {
    width: 98%;
  }
  .links {
    justify-content: center;
  }
  .links > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .index > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .index {
    flex-direction: row;
    justify-content: center;
  }
  .abstract {
    text-align: center;
  }
  .xkcd {
    display: none;
  }
  img {
    width: 50%;
  }
  body {
    flex-direction: column;
    display: block;
    font-size: xx-large;
  }
}
